<footer class="bg-white border-t border-gray-200">
  <div class="max-w-7xl mx-auto py-4 px-4 overflow-hidden sm:px-6 lg:px-8">

    <div class="flex justify-between">

      <nav class="flex flex-wrap justify-center" aria-label="Footer">
        <div class="px-4 py-2">
          <a href="<%= about_path %>" class="text-base text-gray-400 hover:text-gray-900">
            <%= t('views.layout.footer.about') %>
          </a>
        </div>

        <div class="px-4 py-2">
          <a href="<%= contribute_path %>" class="text-base text-gray-400 hover:text-gray-900">
            <%= t('views.layout.footer.contribute') %>
          </a>
        </div>
      </nav>

      <div></div>
    </div>
  </div>
</footer>

